.container .inner{
  width:800px;
  margin: 0 auto;
  text-align: center;
}

.input-section{
  margin-top: 50px;
}

.input-section input{
  box-sizing: border-box;
  padding: 10px 20px;
  background: none;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #555;
  color:#999;
  font-size: 30px;
}

.list-section{
  margin: 50px 0 0 0;
  color: #ededed;
}
